:root {
  --orange: #f42;
  --preview-gradient: linear-gradient(rgba(255, 255, 255, 0), black);
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Jost", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

section {
  margin: 6vh auto 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1152px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--orange);
  cursor: pointer;
}

a.headline:hover {
  color: inherit;
}

.light-gray a:hover {
  color: white;
}

.section-subheading {
  color: var(--orange);
}

.section-heading a:hover,
.section-subheading a:hover {
  color: black;
}

.small-text {
  font-size: 14px;
}

.extra-small-text {
  font-size: 12px;
}

.gray {
  color: rgb(134, 134, 134);
}

.light-gray {
  color: rgb(194, 194, 194);
}

.orange {
  color: var(--orange);
}

.white {
  color: white;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 47px;
  margin: 9px 0;
  line-height: 1;
}

h2 {
  font-size: 20px;
  line-height: 1.2;
  margin: 2px 0;
}

h3 {
  font-size: 24px;
  margin: 0;
  color: var(--orange);
}

.col-span2 {
  grid-column: span 2;
}

/* Headers */

#header-minor {
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 7px 10px;
  font-size: 13px;
}

@media (max-width: 800px) {
  #header-minor-right {
    display: none;
  }
}

#header-minor a {
  margin-left: 5px;
  margin-right: 5px;
}

#header-minor a:hover {
  color: white;
}

#sticky-container {
  position: sticky;
  top: 0;
  z-index: 99;
}

#header-major {
  height: 50px;
  background-color: white;
  padding-left: 8px;
}

.header-extra {
  display: none;
  height: 100%;
  background-color: #000;
  width: 100px;
  float: left;
  margin-left: -8px;
}

@media (max-width: 750px) {
  #header-minor {
    display: none;
  }

  .header-extra {
    display: block;
  }

  #notification-banner {
    text-align: center;
    font-size: 12px;
  }
}

#tnw-header-logo {
  display: block;
  width: 62%;
  height: 100%;
  margin: auto;
}

.header-left {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 650px) {
  .header-left {
    display: none;
  }
}

#header-major > * {
  padding-top: 10px;
  padding-bottom: 10px;
}

#header-major a {
  margin-left: 7px;
  margin-right: 7px;
  font-size: 14px;
  color: #aaa;
  text-transform: uppercase;
}

#header-major a:hover {
  color: black;
}

.search-container {
  float: right;
  height: 100%;
  border-left: 1px solid #dcdcdc;
  padding-right: 10px;
  padding-left: 12px;
}

ion-icon[name="search"] {
  transform: rotateY(180deg);
  font-size: 21px;
  color: #a2a2a2;
}

ion-icon[name="search"]:hover {
  cursor: pointer;
  color: #696969;
}

#notification-banner {
  padding: 6px 15px;
  background-color: #ffdd33;
  font-size: 14px;
  color: rgb(54, 54, 54);
}

#notification-banner a:hover {
  color: inherit;
}

@media (max-width: 750px) {

  #notification-banner {
    text-align: center;
    padding: 10px 5px;
  }
}

/* Main */

main {
  height: 60vh;
  margin: 3px 7px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

main > :first-child {
  grid-row: span 2;
  background-image:
    linear-gradient(to bottom right, #ff4be180, #008b3c2a),
    var(--preview-gradient),
    url(images/main/article1-gradient.png),
    url(images/main/article1.jpg);
  background-size: cover;
  background-position: center center;
}

main > :nth-child(2) {
  background-image:
    var(--preview-gradient),
    url(images/main/article2.jpg);
  background-size: cover;
  background-position: center center;
}

main > :nth-child(3) {
  background-image:
    var(--preview-gradient),
    url(images/main/article3.jpg);
  background-size: cover;
  background-position: center center;
}

@media (max-width: 770px) {
  main {
    height: auto;
    grid-template-columns: 1fr;
    grid-auto-rows: 265px;
  }

  main :first-child {
    grid-row: span 1;
  }

  main h1 {
    font-size: 20px;
    line-height: 1.2;
    margin: 2px 0;
  }

  main datetime {
    display: none;
  }

  #tnw-logo {
    display: none;
  }
}

.main-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding: 15px;
  height: 100%;
  transition: 0.5s;
}

.main-article:hover {
  box-shadow: inset 50px 25px 183px 20px #ffffff36;
  transition: 0.5s;
}

.main-article datetime {
  text-align: end;
}

#main-article1 {
  display: grid;
  grid-template-columns: 55% auto;
  grid-template-rows: 1fr auto;
  justify-content: space-between;
}

#tnw-logo {
  margin-top: 4px;
}

/* Latest News Section */

#news {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-template-rows: auto 250px 250px;
  grid-gap: 20px;
}

.section-heading {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.news-article img {
  height: 140px;
  width: 100%;
  object-fit: cover;
}

.news-article h4 {
  font-weight: 600;
}

.news-article h4 a:hover {
  text-decoration: underline;
  text-decoration-color: rgba(255, 67, 34, 0.329);
}

.news-article .gray a:hover {
  color: rgb(59, 59, 59);
}

@media (max-width: 770px) {
  #news {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: 88px;
  }

  .news-article img {
    float: left;
    height: 75px;
    width: 75px;
    margin-right: 15px;
  }

  .position-left {
    object-position: center left;
  }
  
  .position-right {
    object-position: center right;
  }  

  .news-article h4 {
    font-size: 14px;
  }

  .news-article .small-text {
    font-size: 12px;
  }
}

/* Latest funding section */

#funds-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(227px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

@media (max-width: 770px) {
  #funds-container {
    grid-template-columns: 1fr;
  }
}

.fund {
  color: #555;
  position: relative;
  background-color: #fffaf8;
}

#funds .section-subheading {
  font-weight: 200;
}

.fund a:hover {
  color: inherit;
}

.fund img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 60px;
}

.fund-top-bar {
  padding: 7px 7px 7px 85px;
  font-size: 19px;
  line-height: 19px;
  color: white;
  background-color: var(--orange);
  font-weight: 600;
}

.fund-second-bar {
  background-color: #ff442214;
  padding: 10px 0;
}

.fund-price {
  font-size: 20px;
  color: black;
  padding-left: 85px;
}

.fund-description {
  font-size: 14px;
  padding-left: 85px;
}

.fund-facts {
  padding: 12px;
  border-bottom: 1px solid #ffcec5;
  font-weight: 200;
}

.fund-facts a {
  font-size: 14px;
  line-height: 14px;
}

.fund-facts a:hover {
  color: black;
}

ion-icon {
  position: relative;
  top: 3px;
  margin-right: 4px;
  font-size: 19px;
  color: #000;
}

ion-icon[name="pricetag"] {
  transform: rotateY(180deg);
}

.fund-main {
  padding: 12px;
  font-weight: 200;
}

@media (max-width: 1030px) {
  #funds-container > :nth-child(4) {
    display: none;
  }
}

/* Categories Section */

#categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(309px, 1fr));
  grid-gap: 20px;
}

.category h3 a:hover {
  color: black;
}

.popular {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding: 15px;
  height: 275px;
  background-size: cover;
  background-position: center center;
}

.popular h4 {
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
}

.category a.headline:hover {
  text-decoration: underline;
}

.popular1 {
  background-image:
    var(--preview-gradient),
    url('images/categories/1.jpg');
}

.popular1 {
  background-image:
    var(--preview-gradient),
    url('images/categories/1.jpg');
}

.popular2 {
  background-image:
    var(--preview-gradient),
    url('images/categories/2.jpg');
}

.popular3 {
  background-image:
    var(--preview-gradient),
    url('images/categories/3.jpg');
}

.popular4 {
  background-image:
    var(--preview-gradient),
    url('images/categories/4.jpg');
}

.popular5 {
  background-image:
    var(--preview-gradient),
    url('images/categories/5.jpg');
}

.popular6 {
  background-image:
    var(--preview-gradient),
    url('images/categories/6.jpg');
}

.popular7 {
  background-image:
    var(--preview-gradient),
    url('images/categories/7.jpg');
}

.popular8 {
  background-image:
    var(--preview-gradient),
    url('images/categories/8.jpg');
}

.popular9 {
  background-image:
    var(--preview-gradient),
    url('images/categories/9.jpg');
}

.latest {
  height: 96px;
  margin-top: 2px;
  padding: 9px 104px 9px 15px;
  position: relative;
  background-color: #fff4f2;
}

.latest-headline {
  display: block;
  color: var(--orange);
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.latest-headline:hover {
  text-decoration: underline;
  color: var(--orange);
}

.latest img {
  position: absolute;
  top: 0;
  right: 0;
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.latest-list {
  padding-left: 15px;
}

.latest-list li {
  padding: 5px 0;
  border-bottom: 1px solid #e4e4e4;
}

.latest-list li::marker {
  font-size: 12px;
  color: var(--orange);
}

.latest-list a {
  font-size: 14px;
  color: #797979;
}

.latest-list a:hover {
  color: black;
}

/* Deals Section */

#deals-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 20px;
}

.deal {
  position: relative;
}

.deal-image {
  width: 100%;
}

.deal-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  width: 29%;
}

.ribbon-discount {
  position: absolute;
  top: 20px;
  right: 0;
  transform: rotate(45deg);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.full-price {
  text-decoration: line-through;
}

.reduced-price {
  color: #555;
}

/* Footer */

footer {
  margin-top: 6vh;
}

#footer-links {
  height: 161px;
  padding: 31px;
  background-color: #131313;
}

#footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

#footer-social a {
  display: inline-grid;
  justify-items: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 8px;
  padding: 12px;
  border-radius: 50%;
  background-color: #333;
}

#footer-social a:hover {
  background: #0000;
  box-shadow: inset 0 0 0 2px #333;
}

#footer-social i {
  color: white;
  font-size: 16px;
}

#footer-misc {
  display: flex;
  justify-content: center;
}

#footer-misc a {
  display: inline-block;
  margin: 7px;
  font-size: 12px;
  text-transform: uppercase;
  color: gray;
}

#footer-misc a:hover {
  color: white;
}

#footer-end {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97px;
  font-size: 14px;
  color: #9a9a9a;
  background-color: black;
}

.footer-logo {
  height: 10px;
  margin: 0 5px;
}

@media (max-width: 770px) {
  #footer-end {
    display: grid;
    justify-items: center;
    align-content: center;
  }
}